.footer{
	background-color: $footer-bg;
	color: $footer-text;
	line-height: 30px;
}

.footer__container {
	padding: 100px 24px;
}
/*.footer__copyright
.footer__copyright-year
.footer__copyright-bio
.footer__copyright-name
.footer__copyright-desc
.footer__data  */