.iconed-link{
	font-size: 18px;
	line-height: 48px;
	font-weight: 700;
	color: #586ed3;
}
.iconed-link__icon{
	margin-right: 20px;
	width: 15px;
	height: 15px;
	display: inline;
	fill: #586ed3;
}
.iconed-link__text{
	display: inline;
}