.nav {
  width: 46%;
  min-width: 689px;
  @include tablets {
    display: none;
  }
}
.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 8.71%;

  &:last-child {
    margin: 0;
  }
}

.nav__link {
	font-size: 16px;
	line-height: 30px;
	font-family: "Open Sans";
	font-weight: 400;
  white-space: nowrap;
}