.welcome-section {
  background: url(../images/content/welcome-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  /*height: 1778px;*/
  /*display: flex;*/
}

.middle-section {}