.section-title {
    margin-bottom: 90px;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    
    @include tablets {
        font-size: 2.1rem;
        margin-bottom: 53px;
      }
    @include phones {
        font-size: 1.7rem;
    }
}

.section-title_no-margin {
    margin: 0;
}