.separator {
  margin-top: -120px;
  width: 100%;
  display: flex;
  color: white;
  z-index: 10;
}

.separator__item {
  width: 50%;
  display: block;
  height: 120px;
  fill: currentColor;
}

.separator_bottom {
  margin-bottom: -100px;
  z-index: 10;
  color: white;
  width: 100%;
  display: flex;
  & .separator__item {
    height: 101px;
    z-index: 10;
  }
}