.separator {
  margin-top: -118px;
  width: 100%;
  display: flex;
  color: white;
  /*align-self: flex-end;*/
  z-index: 10;
}

.separator__item {
  width: 50%;
  display: block;
  height: 122px;
  fill: currentColor;
}

.separator_bottom {
  margin-bottom: -98px;
  z-index: 10;
  color: white;
  width: 100%;
  display: flex;
  & .separator__item {
    height: 105px;
    z-index: 10;
  }
}