.socials {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.socials--round-borders{
  .socials__item {
    padding: 15px;
    border: 1px solid $footer-text;
    border-radius: 50%;
  }
  .socials__icon {
    width: 23px;
    height: 23px;
    fill: $footer-text;
    display: flex;
    align-items: center;
  }
}

.socials__icon {
  width: 29px;
  height: 29px;
  display: block;
  fill: $text-color;
}