.values{
	padding-top: 145px;
}

.values__container {
	display: flex;
  justify-content: center;
}

.values__title {
	padding-left: 110px;
}

.values__title-text{
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	margin-bottom: 51px;
}

.values__desc{
	line-height: 30px;
	opacity: 0.5;
  max-width: 585px;
}