footer.footer
	.container.footer__container
		.footer__copyright
			.footer__copyright-year © 2019
		.footer__copyright-bio
			.footer__copyright-name Владимир Астахов
			.footer__copyright-desc Личный сайт веб-разработчика
		.footer__data