section.hero
  .container.hero__container
    header.header.hero__header
      .hero__logo
        a(href="https://mehanik-pyx.github.io/ls-advanced-portfolio/").logo АП
      include nav.pug
      .hero__socials
        +socials('')

    .hero__content
      .user-info
        .user-info__desc Личный сайт <br> веб разработчика
        h1.user-info__username Александр <br> Попов
    .hero__btns
      a(href="#about").scroll-down-btns Скролл
        +icon("scroll", 'scroll__icon')