-
  var menu = [
    ['Главная', ''],
    ['Обо мне', 'about'],
    ['Навыки', 'skills'],
    ['Работы', 'slider-works'],
    ['Отзывы', 'reviews'],
    ['Связаться', 'form-contact']
  ]
nav.nav
  ul.nav__list
    each item in menu
      li.nav__item
        a(href="#" +item[1]).nav__link #{item[0]}