- 
  var layers = [
    //- ['1blue', '0'],
    ['White', '0'],
    ['2bg-clouds', '0.00'],
    ['3mountain', '0.075'],
    ['4budda', '0.075'],
    ['cloud-small', '0.1'],
    ['5cloud', '0.04'],
    ['cloud6', '0.025'],
  ]
section.parallax
  each layer in layers
    .parallax2__layer(data-speed=layer[1])
      +image('parallax2/' + layer[0] + '.png', 'parallax2__img')

//- - 
  var layers = [
    ['2bg-clouds', '0.13'],
    ['3mountain', '0.17'],
    ['4budda', '0.2'],
    ['5cloud', '0.23'],
    ['cloud6', '0.25'],
    ['cloud-small', '0.28'],
  ]
//- section.parallax2
  each layer in layers
    .parallax2__layer(data-speed=layer[1])
      +image('parallax2/' + layer[0] + '.png', 'parallax2__img')
//- - 
  var layers = [
    //- ['1blue', '0'],
    ['White', '0'],
    ['2bg-clouds', '0.01'],
    ['3mountain', '0.15'],
    ['4budda', '0.15'],
    ['cloud-small', '0.2'],
    ['5cloud', '0.08'],
    ['cloud6', '0.05'],
  ]