- 
  var layers = [
    ['1blue', '0.1'],
    ['2bg-clouds', '0.13'],
    ['3mountain', '0.17'],
    ['4budda', '0.2'],
    ['5cloud', '0.23'],
    ['cloud6', '0.25'],
    ['cloud-small', '0.28'],
  ]
section.parallax2
  each layer in layers
    .parallax2__layer(data-speed=layer[1])
      +image('parallax2/' + layer[0] + '.png', 'parallax2__img')