section.reviews
  .container#reviews
    .container__reviews
      #slider-reviews
      //- .reviews__top-wrapper
        //- h2.section-title.section-title_no-margin Что обо мне говорят
        //- .reviews__arrows
          button.reviews__arrow
            +icon('arrow', 'reviews__arrow_left')
          button.reviews__arrow
            +icon('arrow', 'reviews__arrow_right')
      //- .reviews__slider.reviews-slider
        .reviews-slider__track
          
          //- -
            var reviews = [
              ['1', 'Ковальчук Дмитрий', 'Основатель Loftschool', 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!'],
              ['2', 'Владимир Сабанцев', 'Преподаватель', 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах.'],
              ['1', 'третий Дмитрий', 'Основатель Loftschool', 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!'],
              ['2', 'четвертый Сабанцев', 'Преподаватель', 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах.'],
            ]
          //- each author in reviews
            .reviews-slider__item.reviews-item
              .reviews-item__text #{author[3]}
              .reviews-item__author
                +image("content/photo" + author[0] + ".png" , "reviews-item__photo")
                .reviews-item__info
                  .reviews-item__name #{author[1]}
                  .reviews-item__post #{author[2]}