section.slider-works#slider-works
  .container
    h2.section-title.works__section-title Мои работы
    .slider
      .slider__pictures
        +image('content/1.jpg', 'slider__fullpic')
        .slider__buttons
          //- .slider-button
          button.slider-buttons__item.slider-buttons__item--slide--next
            +icon('arrow', 'arrow arrow--next')
          button.slider-buttons__item.slider-buttons__item--slide--prev
            +icon('arrow', 'arrow arrow--prev')
        ul.slider__previews
          - for (var i = 2; i < 6; i++)
            li.slider__previews-item
              +image("content/" + i + ".jpg" , "previews__pic")

      .slider__info
        .slider__tags
          ul.slider__tags-list
            - var tags = ['HTML', 'CSS', 'Javascript']
            each tag in tags
              li.slider__tags-item #{tag}
        .slide__text
          h3.slide__title Сайт школы образования
          .slide__desc-text
            p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          a.iconed-link
            +icon('link', 'iconed-link__icon')
            .iconed-link__text Посмотреть сайт