//- ul.socials(class=className)
- var socials = ['instagram', 'vk', 'github']
  each item in socials
    li.socials__item
      a(href="https://" + item + ".com/" target="_blank").socials__link
        +icon(item, 'socials__icon')