.user
  .avatar.user__avatar
    +image("content/user.jpg", "user__pic")
  .user__text
    - var rows =[["Проживаю:", "Новосибирск"], ["Возраст:", "22 года"], ["Родился:", "8 августа"]];
    table.user__table
      each cell in rows
        tr.user__table-row
          td.user__table-title #{cell[0]}
          td.user__table-content #{cell[1]}