section.works
  .container.work__container
    h2.section-title Мои работы
    .works__slider-sections
      .slider
        .slider__pictures-section
          +image('content/1.jpg', 'slider__fillpic')
          .slider__buttons
            .slider-button
              button.slider-buttons__item.slider-buttons__item--slide--next
                +icon('arrow', 'arrow arrow--next')
              button.slider-buttons__item.slider-buttons__item--slide--prev
                +icon('arrow', 'arrow arrow--prev')
          .slider__previews
            ul.previews
              - for (var i = 2; i < 6; i++)
                li.previews__item
                  +image("content/" + i + ".jpg" , "previews__pic")

        .slider__text-section
          .slide__tags
            ul.tags__list
              - var tags = ['HTML', 'CSS', 'Javascript']
              each tag in tags
                li.tags__item #{tag}
          .slide__text
            h3.slide__title Сайт школы образования
            .slide__desc-text
              p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            a.iconed-link
              +icon('link', 'iconed-link__icon')
              .iconed-link__text Посмотреть сайт