include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
    link(rel="shortcut icon" href="src/images/icons/Favicon.png" type="image/png")
  body
    .wrapper
      .maincontent
        //- .welcome-section
          include ./templates/parallax1.pug
          .content
            include ./templates/hero.pug
            include ./templates/about.pug
          include ./templates/separator.pug

        //- .middle-section
          include ./templates/skills.pug
                        
          include ./templates/slider-works.pug
        //- .budda-section
        include ./templates/parallax2.pug
          //- .content
            include ./templates/reviews.pug
            include ./templates/form-contact.pug

      //- include ./templates/footer.pug